body{
    background-color: orange;
}
h1.bienvenido{
    text-align: center;
}
p.id{
    text-align: center;
}
p.contraseña{
    text-align: center;
}
input.enviar{
    text-align: center;
}